/* About section */
.about-section {
  padding: 2rem 0;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .about-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
}
