/* Footer */
.footer-section {
  padding: 1.5rem 0;
  background: var(--surface-color);
}

.footer-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .footer-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}
