@media screen and (max-width: 400px) {
  #features {
    width: 108vw;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 108vw;
  }

  #portfolio {
    width: 108vw;
  }
}
